




body {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*  */

.catalog-header,
.main-header {
  background-color: #f4f7f9;
}

.main-shop-menu {
  line-height: 18px;

  background-color: #293449;
}

.main-shop-menu .current_storage {
  background-color: #ca2c37;
}


.site-navigation a:not(.main-header-logo):hover {
  background-color: #293449;
}
.site-navigation a:not(.main-header-logo):active {
  color: #a8abaf;

  background-color: #1d2739;
  -webkit-box-shadow: 0 5px 0 #1d2739;
          box-shadow: 0 5px 0 #1d2739;
}

.search-label,
.main-shop-menu input {
  font: inherit;
  color: #ffffff;

  background-color: #293449;
  border: none;
}
.search-label:hover,
.main-shop-menu input:hover,
.main-marks a:hover,
.basket a:hover {
  background-color: #212a3a;
  border: none;
}


.main-marks a:active,
.basket a:active {
  color: #babbbd;

  background-color: #161d29;
}

.main-shop-menu input:focus {
  color: #000000;

  background-color: #ffffff;
}

.main-shop-menu input:focus ~ .search-label {
  background-color: #ffffff;
}


.main-shop-menu_input-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.numb {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.checkout {
  background-color: #63a63e;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  color: #b7c9af;

  background-color: #518534;
}



.user-navigation {
  font-size: 21px;
  line-height: 21px;
}

.login-link,
.registr-link,
.private__name {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 6px;

  color: #000000;

  background-color: #ffffff;
}

.login-link {
  position: relative;

  width: 119px;
  margin-right: 6px;
  margin-left: 21px;
  padding-left: 44px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;

  width: 20px;
  height: 20px;

  background: url("../img/icon-login.svg") no-repeat 0 0;
  opacity: 0.4;
}

.private__name:hover::before,
.login-link:hover::before {
  opacity: 1;
}

.private__name:hover::after {
  opacity: 1;
}

.private__name:active::before,
.login-link:active::before {
  opacity: 0.4;
}

.private__name:active::after {
  opacity: 0.4;
}

.registr-link {
  width: 150px;
  padding-left: 25px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 300px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.user-navigation_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.user-navigation_login li:first-child {
  position: relative;
}

.private__name {
  position: relative;

  margin-bottom: 9px;
  padding-left: 48px;
}

.private__name::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;

  width: 20px;
  height: 20px;

  background: url("../img/icon-user.svg") no-repeat 0 0;
  opacity: 0.3;
}

.private__out {
  content: "";
  position: absolute;
  top: 13px;
  right: 1px;

  width: 30px;
  height: 30px;

  background: url("../img/icon-logout.svg") no-repeat 0 0;
  opacity: 0.3;
}

.private__out:hover {
  opacity: 1;
}

.private__out:active {
  opacity: 0.3;
}


.user_link li {
  display: inline-block;

  vertical-align: baseline;
}

.private__checkout {
  position: relative;

  padding-right: 27px;
  padding-left: 19px;
}


.private__checkout::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.outlogin {
  display: none;
}

.private__cabinet a,
.private__checkout a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.private__cabinet a:hover,
.private__checkout a:hover,
a.registr-link:hover,
a.login-link:hover {
  color: #ee3643;
}

.private__cabinet a:active,
.private__checkout a:active,
a.registr-link:active,
a.login-link:active,
a.private__name:active {
  color: #cacaca;
}

/*   */

.site-navigation a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 31px;
  padding-bottom: 18px;
  padding-left: 30px;
}

.site-navigation li:first-of-type {
  margin-left: 21px;
  padding-right: 2px;
}

.main-header-logo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  height: 42px;
  padding-top: 10px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 #b52933;
          box-shadow: 0 5px 0 #b52933;
}


.main-footer .main-header-logo {
  height: 63px;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 #9a212a;
          box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 #8e1e26;
          box-shadow: 0 5px 0 #8e1e26;
}

.link-navigation-logo a {
  color: #ffffff;
}

.top-main-footer .main-header-logo {
  margin-bottom: 32px;
  padding-top: 19px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
.main-shop-menu,
.site-navigation,
.user-navigation,
.user-navigation_login {
  list-style: none;
}

.main-preview p {
  margin: 0;
  padding-top: 2px;
}

.main-preview p:first-child {
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.main-preview p:last-child {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-contact {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 266px;
  margin-bottom: 2px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 68px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contact::before {
  content: "";
  position: absolute;
  left: 11px;

  width: 20px;
  height: 20px;

  background: url("../img/icon-phone.svg");
}

.header-adress {
  padding-left: 1px;
}

.main-shop-menu a,
.site-navigation a {
  color: #ffffff;
}

/*  */

.main-slide-instrument {
  list-style: none;
}

.main-offers_blockone,
.main-offers_blocktwo {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.main-offers_blockone li:first-of-type {
  background-color: #ffbf47;
}



.main-offers_blocktwo li:last-of-type {
  background-color: #ffc047;
}

.main-offers_blockone li:nth-of-type(2) {
  background-color: #3bbce3;
}



.main-offers_blockone li:last-of-type {
  background-color: #dc91d8;
}



.main-offers_blocktwo li:first-of-type {
  background-color: #8ed78f;
}



.main-offers_blocktwo h3,
.main-offers_blockone h3 {
  margin: 0;
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 30px;
  /* margin-right: 71px; */
  /* width: 129px; */
}



.main-offers_blockone li:last-of-type::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 9px;

  width: 100px;
  height: 100px;

  background: url("../img/icon-3.svg") no-repeat;
}
.main-offers_blocktwo li:last-of-type::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 8px;

  width: 100px;
  height: 100px;

  background: url("../img/icon-5.svg") no-repeat;
}
.main-offers_blockone li:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 3px;

  width: 100px;
  height: 100px;

  background: url("../img/icon-2.svg") no-repeat;
}

.main-offers_blocktwo li:first-of-type::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 5px;

  width: 100px;
  height: 100px;

  background: url("../img/icon-4.svg") no-repeat;
}

.main-offers_blockone li:first-of-type::before {
  content: "";
  position: absolute;
  top: 32px;
  right: -12px;

  width: 100px;
  height: 100px;

  background: url("../img/icon-1.svg") no-repeat;
}


.slide h3 {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 1px;
  padding-left: 25px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slide p {
  margin: 0;
  padding-left: 26px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/* */

.main-offers-button {
  display: block;
  width: 135px;
  margin-left: 1px;
  padding-top: 12px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.main-offers-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-offers-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button {
  display: block;
  padding: 10px 0;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button a {
  color: #ffffff;
}


.shop-item .button-item {
  position: relative;

  display: block;
  width: 80px;
  margin: 9px auto;
  margin-bottom: 20px;
  margin-left: 42px;
  padding: 10px 30px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: white;

  background: #ee3643;
  border-radius: 3px;
}

.shop-item img {
  max-width: 100%;
  height: auto;
}


.shop-item .button-item::after {
  content: "";
  position: absolute;
  top: -0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.main_page .shop-item:nth-child(4n) {
  margin-right: 0;
}

.wrapping_catalog .shop-item:nth-child(3n) {
  margin-right: 0;
}

/*  */

.announcement-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}


.announcement-post {
  background-color: #f9f5f0;
}

.announcement-post h2 {
  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 26px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-style: normal;
}

.announcement-post .button {
  flex-basis: 253px;
  align-self: center;
  margin-right: 24px;
  margin-bottom: 1px;

  font-size: 14px;
  line-height: 18px;

  -ms-flex-item-align: center;
  -ms-flex-preferred-size: 253px;
  -ms-grid-row-align: center;
}

.shop-list,
.list-brand,
.main-servis,
.main-informat,
.list-servis,
.text-servis {
  list-style: none;
}

.shop-item {
  position: relative;

  display: block;
  width: 218px;
  margin-bottom: 21px;

  font-weight: bold;
  text-align: center;
  color: #000000;

  border: 1px solid #cccccc;
  cursor: pointer;
}


.last-price {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
  text-decoration: line-through;
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -2000px;
}
.flag-new {
  background: url("../img/flag.png") no-repeat 0 0;
}

.shop-item .title {
  min-height: 40px;
  margin-top: 14px;
  margin-bottom: 12px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
}
.shop-item .last-price {
  display: block;
  min-height: 20px;
  margin-top: 0;
  margin-bottom: 9px;
  padding-left: 4px;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}


.catalog-item .image {
  width: 218px;
  height: 168px;
}
.catalog-item .image img {
  max-width: 100%;
}

.action-shop-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
}

.action-shop-list {
  display: none;
}

.shop-item:hover .action-shop-list {
  display: block;
}

.button-shop_two,
.button-shop_one {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.button-shop_two {
  color: #32425c;

  background: #ffffff;
  border-bottom-color: #63a63e;
}

.button-shop_one {
  position: relative;
}

.button-shop_one::before {
  content: "";
  position: absolute;
  left: 10px;

  width: 20px;
  height: 20px;

  background: url("../img/basket.svg") no-repeat 0 0;
  opacity: 0.3;
}

.button-shop_one:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.button-shop_one:hover::before {
  opacity: 1;
}

.button-shop_one:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.button-shop_one:active::before {
  opacity: 0.8;
}

.button-shop_two:hover {
  border: 3px solid #32425c;
}

.button-shop_two:active {
  color: rgba(193, 198, 206, 0.3);

  border: 3px solid rgba(193, 198, 206, 0.3);
}

.shop-item:hover {
  -webkit-box-shadow: 0 0 10px 0 #ccced3;
          box-shadow: 0 0 10px 0 #ccced3;
}

/* */

.brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 218px;
  height: 143px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}


.brand a:hover {
  -webkit-box-shadow: 0 4px 20px 0 #ccced3;
          box-shadow: 0 4px 20px 0 #ccced3;
}

.brand:active img {
  opacity: 0.3;
}

.brand a:active {
  -webkit-box-shadow: 0 2px 10px 0 #ccced3;
          box-shadow: 0 2px 10px 0 #ccced3;
}

/*  */

.main-servis {
  background-color: #f4f8f9;
}

.main-servis h3 {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 27px;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
}

.list-servis {
  position: relative;

  margin-bottom: 101px;
}

.list-servis li:last-child {
  margin-bottom: 101px;
}

.list-servis::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 230px;
  z-index: 20;

  width: 10px;
  height: 300px;

  background: url("../img/slash.png") no-repeat 0 0;
  opacity: 0.3;
}

.text-servis h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}
.main-servis_lead {
  width: 400px;
  margin-bottom: 68px;
}

.main-servis p,
.text-servis p {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
}

.list-servis-button {
  width: 240px;
  height: 61px;
  padding: 0;
  padding-bottom: 6px;
  padding-left: 22px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: none;
}

.list-servis-button:hover {
  background-color: #293449;
}


.current_servis {
  padding: 0;
  padding-bottom: 6px;
  padding-left: 21px;

  color: #32425c;

  background-color: #ffffff;
}

.current_servis:hover {
  padding: 0;
  padding-bottom: 2px;
  padding-left: 21px;

  color: #32425c;

  background-color: #ffffff;
}


.text-servis a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ff5357;
}

/*  */

.main-informat {
  color: #000000;
}

.main-informat__company h3 {
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
}

.main-informat__company p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-informat__company ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.map {
  margin-bottom: 36px;
}

/*   */

.top-main-footer {
  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
}

.low-main-footer {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.top-footer__navigation a:not(.main-header-logo):hover,
.low-footer__navigation a:hover,
.footer-link a:hover {
  text-decoration: underline;
}

.top-footer__navigation a:not(.main-header-logo):active,
.low-footer__navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-link a:active {
  color: #ee3643;
  text-decoration: none;
}

.top-footer__navigation,
.footer-social ul,
.low-footer__navigation {
  list-style: none;
}

.low-footer__navigation a,
.footer-link a {
  color: #ffd180;
}

.top-footer__navigation a {
  display: block;
  margin-bottom: 34px;
  padding-top: 38px;

  color: #ffffff;
}

.top-footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
  width: 546px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.low-footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
  width: 524px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.low-footer__navigation a {
  display: block;
}

.logo a {
  color: #ffffff;
}

.logo p {
  padding-left: 3px;
  width: 331px;
}

.main-footer .container {
  color: #ffffff;
}



/*  */

.social-button {
  color: #ffffff;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

/*   */

.modal-write {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  width: 620px;
  margin-top: -230px;
  margin-left: -310px;

  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 15px 40px 0 #000000;
}
.modal-write-searchus {
  padding: 48px 80px 40px 80px;
}

.modal-write-searchus input[type="text"],
.modal-write-searchus input[type="email"],
.modal-write-searchus textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 13px;
  padding: 10px;

  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #c2c2c2;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-write-searchus input[type="text"]:hover,
.modal-write-searchus input[type="email"]:hover,
.modal-write-searchus textarea:hover {
  border: 2px solid #b5b5b5;
}

.modal-write-searchus input[type="text"]:focus,
.modal-write-searchus input[type="email"]:focus,
.modal-write-searchus textarea:focus {
  border: 2px solid #ee3643;
}

.modal-write-searchus textarea {
  width: 460px;

  resize: none;
}



.modal-write-searchus input[type="text"],
.modal-write-searchus input[type="email"] {
  width: 216px;
}


.modal-write p {
  margin: 0;
  margin-bottom: 22px;
}

.modal-write_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.modal-button {
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f4f4f4;
}

.modal-button .button {
  width: 460px;
  margin-right: auto;
  margin-left: auto;

  font-size: 14px;
  line-height: 18px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0px;
  width: 23px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*   */

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  border-radius: 1px;
  -webkit-box-shadow: 0 0 20px 0;
          box-shadow: 0 0 20px 0;
}

.modal-map iframe {
  position: relative;

  border-width: 0;
}

.modal-map p {
  position: absolute;
  top: -17px;
  z-index: -10;
}

/*   */

.modal-shop {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 620px;
  margin-top: -141px;
  margin-left: -310px;
  padding-top: 68px;

  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  -webkit-box-shadow: 0 0 20px 0;
          box-shadow: 0 0 20px 0;
}


.modal-shop__button {
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f4f4f4;

}

.modal-shop__button .button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: baseline;

  border: none;
  border-radius: 1%;
}



.modal-shop__button .button:nth-child(1) {
  margin-right: 20px;
  margin-left: 80px;
}


.modal-shop ul {
  list-style: none;
}

.modal-shop h2 {
  margin: 0;
  margin-bottom: 70px;
  padding-left: 180px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-shop h2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 90px;

  width: 70px;
  height: 70px;

  background: url("../img/form-1.png") no-repeat 0 0;
}

.modal-shop__button {
  background-color: #f1f1f1;
}

.modal-shop__button .current {
  color: #000000;

  background-color: #ffffff;
}

/*  */

.visual-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/*   */

.catalog_container {
  font-family: "PT Sans", "Arial", sans-serif;
}

.breadcrumbs {
  list-style: none;
  text-transform: uppercase;
}


.breadcrumbs a,
.breadcrumbs-current {
  margin-right: 38px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 0.24px;
}

.breadcrumbs li {
  position: relative;
}

.home:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -19px;

  width: 22px;
  height: 20px;

  background: url("../img/icon-home.svg") no-repeat 0 0;
}
.breadcrumbs li:first-of-type:focus .home:before {
  outline: 1px solid #0066cc;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -28px;

  width: 7px;
  height: 7px;

  border: 1px solid #d3d3d3;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/* */

.lead {
  background-color: #f2f6f8;
}


.catalog_container h1 {
  margin: 0;
  padding: 0;
  padding-left: 26px;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.lead h2 {
  margin-top: 27px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 29px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.lead p {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.145px;
}



/*  */

.filter-stile h2 {
  margin: 0;
  padding: 0;
}


.filter-stile h2,
.filter-stile,
.filters h2,
.filters div {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 1%;
}

fieldset .price-filter {
  background-color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filters h2 {
  margin: 0;
  padding: 10px 0 10px 19px;

  font-weight: 400;
}

.filter-stile ul {
  list-style: none;
}

.filter-sort-option a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.filter-sort-option a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.filter-sort-option__aktive a {
  color: #ee3643;
}

.filter-sort_up {
  display: block;
  margin-top: 12px;

  border: 12px solid #c5c5c5;
  border-top: 0;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
}

.updown__option li:nth-child(1) {
  margin-right: 21px;
}

.filter-sort_down {
  display: block;
  margin-top: 12px;

  border: 12px solid #c5c5c5;
  border-right-width: 6px;
  border-right-color: transparent;
  border-bottom: 0;
  border-left-width: 6px;
  border-left-color: transparent;
}

.filter-sort_down:hover {
  border-color: #000000;
  border-right-color: transparent;
  border-left-color: transparent;
}

.filter-sort_up:hover {
  border-color: #000000;
  border-right-color: transparent;
  border-left-color: transparent;
}

.current {
  border-color: #ee3643;
  border-right-color: transparent;
  border-left-color: transparent;
}

.current:hover {
  border-color: #ee3643;
  border-right-color: transparent;
  border-left-color: transparent;
}

/*  */

.filter fieldset {
  border: none;
}

.filters ul {
  list-style: none;
}

.filter fieldset:last-of-type {
  margin-bottom: 55px;

  border: none;
}

.filters legend {
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 23px;

  border-bottom: 1px solid #e5e5e5;
}
/*  */

.price-filter {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.price-filter::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 47%;

  width: 11px;
  height: 2px;

  background-color: #000000;
}

.price-filter input {
  width: 95px;
  padding-top: 8px;
  padding-bottom: 12px;

  font: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.price-filter input:first-of-type {
 margin-right: 30px;
}

.price-filter__-button {
  position: relative;

  margin-bottom: 10px;
  padding: 39px 20px;
}

.price-filter__-button .scale {
  position: relative;

  height: 2px;
  padding-left: 14px;

  background: #d7dcde;
}

.price-filter__-button .bar {
  width: 78%;
  height: 2px;

  background: #00ca74;
}

.price-filter__-button .range-toggle {
  position: absolute;
  top: -11px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: -1%;
}

.range-toggle-max {
  left: 77%;
}

/* */

.filter-option {
  padding-left: 36px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;
  z-index: 20;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;
  z-index: 30;

  width: 25px;
  height: 25px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:hover + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked:hover + label::after {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  opacity: 0.4;
}


.filter-input-checkbox:focus + label::before {
  outline: 1px solid #3399cc;
}

.filter-input-checkbox:focus + label::after {
  outline: 1px solid   #3399cc;
}


.filter-input-radio:focus + label::before {
  outline: 1px solid #3399cc;
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;

  width: 17px;
  height: 17px;

  border: 4px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;

  width: 9px;
  height: 9px;

  background-color: #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.filter-input-radio:hover + label::before {
  opacity: 0.4;
}

.filter-input-radio:checked:hover + label::after {
  opacity: 0.4;
}

.filter-input-radio:checked:hover + label::before {
  opacity: 0.4;
}

.filter-input-radio:checked:disabled,
.filter-input-radio:disabled,
.filter-input-checkbox:checked:disabled,
.filter-input-checkbox:disabled {
  opacity: 0.1;
}


.filter-option:not(:last-child) {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.filter-stile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.filter-stile h2 {
  margin-right: 140px;
  margin-left: 19px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 400;
}

.filter-stile li {
  margin-right: 30px;
}

.filter_wrapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 460px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.filter-sort-button {
  display: block;
  padding-top: 8px;
}

.sort__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 380px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.sort__option li:nth-child(3) {
  margin-right: 26px;
}

.updown__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  width: 60px;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  padding: 9px 38px;

  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style: none;
}


.pagination-item a {
  display: block;
  margin-right: 10px;
  padding: 9px 15px;
  padding-right: 14px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  border-radius: 1px;
}
.pagination-next a:hover,
.pagination-item a:hover {
  color: #000000;

  border: 1px solid #bdc6ca;
}
.pagination-next a {
  display: block;
  margin-right: 10px;
  padding: 9px 33px;
  padding-right: 28px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  border-radius: 1px;
}


.pagination-item a:active {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 1px solid #ee3744;
}

.current a {
  color: #ffffff;

  background-color: #ee3643;

  pointer-events: none;
}


/* */

html,
body {
  min-width: 100%;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  margin-bottom: 59px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  margin-bottom: 4px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.main-shop-menu {
  width: 100%;
  margin-bottom: 46px;
}

.main-shop-menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



.main-shop-menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-end;
  width: 460px;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
}

.main-shop-menu__right a {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;

  text-align: center;
}

.checkout a {
  padding-left: 0;
}

.main-marks a::before {
  content: "";
  position: absolute;
  left: 18px;
  z-index: 20;

  width: 32px;
  height: 28px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.4;
}

.main-marks:hover a::before {
  opacity: 1;
}

.main-marks:active a::before {
  opacity: 0.3;
}


.basket a::before {
  content: "";
  position: absolute;
  left: 19px;
  z-index: 100;

  width: 32px;
  height: 28px;

  background: url("../img/basket.svg") no-repeat 0 0;
  opacity: 0.4;
}


.basket:hover a::before {
  opacity: 1;
}

.basket:active a::before {
  opacity: 0.3;
}

.main-shop-menu .container {
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.site-navigation,
.user-navigation,
.main-navigation {
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 940px;
  margin-right: auto;
  margin-bottom: 65px;
  margin-left: auto;

  background-color: #3b4a62;
  -webkit-box-shadow: 0 5px 0 #293449;
          box-shadow: 0 5px 0 #293449;

  -ms-flex-wrap: wrap;
}

.main-shop-menu {
  margin: 0;
  padding: 0;
}

.main-shop-menu {
  margin-bottom: 46px;
}

.main-navigation {
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation .container {
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 0;
      flex-wrap: wrap;
  width: 620px;
  padding-left: 53px;

  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  -ms-flex-wrap: wrap;
}

.main-preview p:first-child {
  margin-right: 70px;
}

.container .wrapper_navigation {
  margin: 0 auto;
}

.main-preview p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

/*   */

main .container {
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}


.main-slide-instrument,
.main-offers_blocktwo,
.main-offers_blockone {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-offers {
  width: 940px;
  margin-bottom: 33px;
}

.main-offers_blockone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-slide-instrument,
.main-offers_blocktwo {
  margin: 0;
  padding: 0;
}

.main-offers_blocktwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.main-offers_blocktwo li,
.main-offers_blockone li {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 115px;
}

.main-slide {
  -ms-flex-order: -1;
  order: -1;

  -webkit-box-ordinal-group: 0;
}

.wrapper_main-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.wrapper_main-offers ul {
  margin: 0;
  padding: 0;
}

.announcement-post {
  width: 100%;
  margin-bottom: 20px;
}

.shop-list {
  margin: 0;
  padding: 0;
}

.list-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.list-brand li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.list-brand li:nth-of-type(4n) {
  margin-right: 0;
}

.list-servis,
.text-servis {
  margin: 0;
  padding: 0;
}

.list-servis__wrapping {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 620px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}



.text-servis {
  margin-left: 70px;
  padding-left: 10px;
}

.text-servis h3 {
  margin: 0;
  margin-bottom: 23px;
}

.text-servis__lead {
  display: none;
  width: 620px;
  height: 283px;
}

.text-servis__lead p {
  width: 376px;
}

.text-servis__lead:nth-child(1) {
  background: url("../img/automobile.png") no-repeat 100% 107%;
}

.text-servis__lead:nth-child(2) {
  background: url("../img/medal.png") no-repeat 100% 107%;
}

.text-servis__lead:nth-child(3) {
  background: url("../img/credit.png") no-repeat 100% 107%;
}

.text-servis__lead:nth-child(3) .button {
  width: 195px;
  margin-top: 29px;
}


.main-servis {
  width: 100%;
  margin-bottom: 49px;

  border-bottom: 1px solid #f4f7f9;
}

.main-informat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-informat__company ul {
  margin: 0;
  padding: 0;
}

.main-informat div:first-child {
  width: 540px;
}

.main-informat div:last-child {
  width: 300px;
}

.main-informat__company p {
  margin-bottom: 23px;

  letter-spacing: 0.1px;
}

.main-informat__company:last-of-type p {
  margin-bottom: 31px;
  letter-spacing: -0.3px;
  width: 200px;
}

.main-informat__company li {
  position: relative;

  padding-bottom: 19px;
  padding-left: 36px;
}

.main-informat__company li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  z-index: 20;

  width: 24px;
  height: 5px;

  border-bottom: 1px solid #dc143c;
}

.main-informat__company ul {
  margin-bottom: 17px;
}

.main-informat .button {
  font-size: 14px;
  line-height: 18px;
}


.width_informat {
  width: 220px;
}

.main-footer {
  margin-top: auto;
}


.top-main-footer {
  padding-bottom: 32px;
}

.wrapper_top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 570px;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-end;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
  -ms-flex-preferred-size: 570px;
}

.top-main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-footer ul {
  margin: 0;
  padding: 0;
}

.low-main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 21px;
  padding-bottom: 16px;
}

.footer-social {
  -ms-flex-order: 1;
  order: 1;
  margin-right: auto;
  margin-left: auto;

  -webkit-box-ordinal-group: 2;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 132px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-social {
  margin: 0;
  margin-top: 14px;
  margin-right: 117px;
  margin-left: auto;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 1px;

  border-radius: 50%;
}

.vk {
  background: #212a3a url("../img/vk-icon.svg") no-repeat 48%;
}

.fs {
  background: #212a3a url("../img/fb-icon.svg") no-repeat 48%;
}

.inst {
  background: #212a3a url("../img/insta-icon.svg") no-repeat 48%;
}


.footer-link {
  -ms-flex-order: 2;
  order: 2;

  -webkit-box-ordinal-group: 3;
}

.footer-link p {
  margin: 0;
  margin-top: 16px;
  margin-right: 27px;
  margin-bottom: 0;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  justify-content: space-between;
  width: 300px;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

/*  */

.modal-write {
  width: 620px;
}

.modal-write-searchus {
  padding-bottom: 37px;
  border: none;
}

/*   */

.breadcrumbs {
  -ms-flex-order: -1;
  order: -1;
  margin-bottom: 18px;
  padding-left: 18px;
  -webkit-box-ordinal-group: 0;
}

h1.lead {
  margin-top: 0;
  margin-bottom: 19px;
  padding: 32px 0 29px 28px;
  font-weight: 400;
  font-style: normal;
}

.filters {
  width: 220px;
}

.wrapping_catalog {
  width: 700px;
}

.wrapping_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.filter-stile {
  width: 100%;
  margin: 0 0 19px 0;
  padding: 0;
}

.filters h2 {
  margin-bottom: 11px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
}

.filters {
  margin-bottom: auto;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 32px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.catalog-item ul {
  margin: 0;
  padding: 0;
}

.shop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.pagination-list {
  margin: 0 auto 58px 0;
  padding: 0;
}

.pagination-list .wrapping_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.lead {
  padding-top: 41px;
  padding-bottom: 55px;
}

/* в IE 11 строка поиска выше обычного, поэтому задал максималку */

.main-shop-menu input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  max-height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.main-shop-menu_input-search {
  position: relative;

  max-height: 42px;
}

.main-shop-menu_input-search svg {
  position: absolute;
  top: 11px;
  left: 17px;

  width: 20px;
  height: 20px;

  opacity: 0.3;

  fill: #ffffff;
}

.main-shop-menu_input-search:hover input + svg {
  opacity: 1;
}

.main-shop-menu_input-search input:focus + svg {
  opacity: 1;

  fill: #ee3643;
}


/*   */

.slide {
  display: none;
  width: 620px;
  height: 266px;
}



.main-slide {
  position: relative;
}

.main-slide .button {
  position: absolute;
  top: 72%;
  left: 25px;

  width: 195px;

  font-size: 14px;
  line-height: 18px;
}

.slide:nth-child(1) {
  display: block;
  margin: 0;
  padding: 0;

  background: url("../img/slider2.jpg") no-repeat;
}

.slide:nth-child(2) {
  margin: 0;
  padding: 0;

  background: url("../img/slider1.jpg") no-repeat;
}

.button-instrument-next,
.button-instrument-back {
  position: absolute;
}

.button-instrument-back {
  top: 42%;
  left: 31px;

  width: 27px;
  height: 27px;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-instrument-next {
  top: 42%;
  right: 26px;

  width: 27px;
  height: 27px;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-bottom-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}


.main-slide-input-radio {
  position: absolute;
  bottom: 57px;
  left: 49%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-slide-input-radio label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 6px;

  vertical-align: baseline;

  border-radius: 50%;
  cursor: pointer;
}

.main-slide-input-radio label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 13px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}
.main-slide-instrument li:nth-of-type(1) {
  display: none;
}

.main-slide-instrument li:nth-of-type(2) {
  display: none;
}

#slide_one:checked ~ .main-slide-instrument li:nth-of-type(1) {
  display: block;
}

#slide_two:checked ~ .main-slide-instrument li:nth-of-type(2) {
  display: block;
}

#slide_one:checked ~ .main-slide-input-radio .slider-controls-item--1::before,
#slide_two:checked ~ .main-slide-input-radio .slider-controls-item--2::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 69%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: 0;

  background-color: #ee3643;
  border-radius: 50%;
}

/*   */

main-shop-menu_storage a {
  background-color: #ba2732;
}



@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}



@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}


@keyframes notdoor {
  20% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  60% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.show {
  display: block;
}

.showtwo {
  display: block;

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.error {
  -webkit-animation-name: notdoor;
          animation-name: notdoor;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}


.js-button {
  letter-spacing: 0.5px;
}

.overlay:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: block;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
